* {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    justify-content: center;
}

img {
    margin-top: 20vh;
    border-radius: 1rem;
    cursor: pointer;
    transition: all .5s ease-in-out;
}

img:hover {
    transform: translateY(-20px);
}